In [1]:
import pandas as pd

In [2]:
states = "Resources/nst-est2019-alldata.csv"
statesdf = pd.read_csv(states, low_memory=False)
statesdf.head()

,SUMLEV,REGION,DIVISION,STATE,NAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
0,10,0,0,0,United States,308745538,308758105,309321666,311556874,313830990,...,0.000000,2.493773,2.682083,2.636187,2.921500,3.260435,3.252788,2.871957,2.153911,1.818059
1,20,1,0,0,Northeast Region,55317240,55318443,55380134,55604223,55775216,...,-5.254530,0.887909,-0.038355,-0.469783,-0.986097,-2.061965,-2.490484,-1.837048,-2.134447,-2.859713
2,20,2,0,0,Midwest Region,66927001,66929725,66974416,67157800,67336743,...,-2.365881,-0.963930,-0.973943,-0.006924,-0.762969,-1.388437,-1.241784,-0.557370,-0.922755,-1.111173
3,20,3,0,0,South Region,114555744,114563030,114866680,116006522,117241208,...,3.261349,5.130513,5.850458,5.292073,6.161501,7.277358,7.150074,6.198168,5.225519,5.203720
4,20,4,0,0,West Region,71945553,71946907,72100436,72788329,73477823,...,0.614245,2.723344,3.062896,3.162262,4.026429,4.987285,5.261078,4.021194,3.044951,2.312083

In [3]:
statespopdf1 = statesdf[["REGION", "DIVISION", "NAME"]]
statespopdf1.head()

  REGION DIVISION              NAME
0      0        0     United States
1      1        0  Northeast Region
2      2        0    Midwest Region
3      3        0      South Region
4      4        0       West Region

In [4]:
statespopdf2 = statesdf[["POPESTIMATE2010", 
                         "POPESTIMATE2011", "POPESTIMATE2012", "POPESTIMATE2013", 
                         "POPESTIMATE2014", "POPESTIMATE2014", "POPESTIMATE2015", 
                         "POPESTIMATE2016", "POPESTIMATE2017", "POPESTIMATE2018",
                        "POPESTIMATE2019"]]
statespopdf2.head()

,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019
0,309321666,311556874,313830990,315993715,318301008,318301008,320635163,322941311,324985539,326687501,328239523
1,55380134,55604223,55775216,55901806,56006011,56006011,56034684,56042330,56059240,56046620,55982803
2,66974416,67157800,67336743,67560379,67745167,67745167,67860583,67987540,68126781,68236628,68329004
3,114866680,116006522,117241208,118364400,119624037,119624037,120997341,122351760,123542189,124569433,125580448
4,72100436,72788329,73477823,74167130,74925793,74925793,75742555,76559681,77257329,77834820,78347268

In [5]:
statespopdf2['avgpop'] = statespopdf2.mean(axis=1).astype('int64')
statespopdf2.head()

C:\Users\kelly\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,avgpop
0,309321666,311556874,313830990,315993715,318301008,318301008,320635163,322941311,324985539,326687501,328239523,319163118
1,55380134,55604223,55775216,55901806,56006011,56006011,56034684,56042330,56059240,56046620,55982803,55894461
2,66974416,67157800,67336743,67560379,67745167,67745167,67860583,67987540,68126781,68236628,68329004,67732746
3,114866680,116006522,117241208,118364400,119624037,119624037,120997341,122351760,123542189,124569433,125580448,120251641
4,72100436,72788329,73477823,74167130,74925793,74925793,75742555,76559681,77257329,77834820,78347268,75284268

In [6]:
statespopdf = statespopdf1.join(statespopdf2)
statespopdf = statespopdf[["REGION", "DIVISION", "NAME", "avgpop"]]
statespopdf

   REGION DIVISION                  NAME     avgpop
0       0        0         United States  319163118
1       1        0      Northeast Region   55894461
2       2        0        Midwest Region   67732746
3       3        0          South Region  120251641
4       4        0           West Region   75284268
5       3        6               Alabama    4844999
6       4        9                Alaska     732859
7       4        8               Arizona    6798170
8       3        7              Arkansas    2973257
9       4        9            California   38616261
10      4        8              Colorado    5398371
11      1        1           Connecticut    3583745
12      3        5              Delaware     936085
13      3        5  District of Columbia     663509
14      3        5               Florida   20085656
15      3        5               Georgia   10140181
16      4        9                Hawaii    1407807
17      4        8                 Idaho    1655651
18      2        3              Illinois   12827976
19      2        3               Indiana    6602653
20      2        4                  Iowa    3109321
21      2        4                Kansas    2896370
22      3        6              Kentucky    4416632
23      3        7             Louisiana    4632317
24      1        1                 Maine    1331830
25      3        5              Maryland    5949731
26      1        1         Massachusetts    6757651
27      2        3              Michigan    9932377
28      2        4             Minnesota    5469648
29      3        6           Mississippi    2984075
30      2        4              Missouri    6064393
31      4        8               Montana    1027487
32      2        4              Nebraska    1883663
33      4        8                Nevada    2857478
34      1        1         New Hampshire    1335920
35      1        2            New Jersey    8859185
36      4        8            New Mexico    2087817
37      1        2              New York   19569106
38      3        5        North Carolina   10001351
39      2        4          North Dakota     731048
40      2        3                  Ohio   11608363
41      3        7              Oklahoma    3876461
42      4        9                Oregon    4009681
43      1        2          Pennsylvania   12775880
44      1        1          Rhode Island    1055939
45      3        5        South Carolina    4867305
46      2        4          South Dakota     851554
47      3        6             Tennessee    6575642
48      3        7                 Texas   27153209
49      4        8                  Utah    2972612
50      1        1               Vermont     625201
51      3        5              Virginia    8314241
52      4        9            Washington    7141851
53      3        5         West Virginia    1836983
54      2        3             Wisconsin    5755374
55      4        8               Wyoming     578217
56      X        X           Puerto Rico    3480891

In [7]:
state_new  = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

#state_new = {state: abbrev for abbrev, state in state_new.items()}

statespopdf['abbrev'] = statespopdf.NAME.replace(state_new)
#urban_df.drop(['American Samoa','Guam', 'Northern Marianas', 'Virgin Islands'])
#urban_df[urban_df.state != 'American Samoa']
statespopdf = statespopdf.iloc[5:-1]

statespopdf

   REGION DIVISION                  NAME    avgpop abbrev
5       3        6               Alabama   4844999     AL
6       4        9                Alaska    732859     AK
7       4        8               Arizona   6798170     AZ
8       3        7              Arkansas   2973257     AR
9       4        9            California  38616261     CA
10      4        8              Colorado   5398371     CO
11      1        1           Connecticut   3583745     CT
12      3        5              Delaware    936085     DE
13      3        5  District of Columbia    663509     DC
14      3        5               Florida  20085656     FL
15      3        5               Georgia  10140181     GA
16      4        9                Hawaii   1407807     HI
17      4        8                 Idaho   1655651     ID
18      2        3              Illinois  12827976     IL
19      2        3               Indiana   6602653     IN
20      2        4                  Iowa   3109321     IA
21      2        4                Kansas   2896370     KS
22      3        6              Kentucky   4416632     KY
23      3        7             Louisiana   4632317     LA
24      1        1                 Maine   1331830     ME
25      3        5              Maryland   5949731     MD
26      1        1         Massachusetts   6757651     MA
27      2        3              Michigan   9932377     MI
28      2        4             Minnesota   5469648     MN
29      3        6           Mississippi   2984075     MS
30      2        4              Missouri   6064393     MO
31      4        8               Montana   1027487     MT
32      2        4              Nebraska   1883663     NE
33      4        8                Nevada   2857478     NV
34      1        1         New Hampshire   1335920     NH
35      1        2            New Jersey   8859185     NJ
36      4        8            New Mexico   2087817     NM
37      1        2              New York  19569106     NY
38      3        5        North Carolina  10001351     NC
39      2        4          North Dakota    731048     ND
40      2        3                  Ohio  11608363     OH
41      3        7              Oklahoma   3876461     OK
42      4        9                Oregon   4009681     OR
43      1        2          Pennsylvania  12775880     PA
44      1        1          Rhode Island   1055939     RI
45      3        5        South Carolina   4867305     SC
46      2        4          South Dakota    851554     SD
47      3        6             Tennessee   6575642     TN
48      3        7                 Texas  27153209     TX
49      4        8                  Utah   2972612     UT
50      1        1               Vermont    625201     VT
51      3        5              Virginia   8314241     VA
52      4        9            Washington   7141851     WA
53      3        5         West Virginia   1836983     WV
54      2        3             Wisconsin   5755374     WI
55      4        8               Wyoming    578217     WY

In [8]:
statespopdf = statespopdf[['abbrev', 'avgpop']].copy()
statespopdf = statespopdf.rename(columns={'abbrev':'State','avgpop':'Population'})
statespopdf.head()

  State  Population
5    AL     4844999
6    AK      732859
7    AZ     6798170
8    AR     2973257
9    CA    38616261

In [9]:
statespopdf.to_csv("Resources/state_populations.csv")