In [1]:
import numpy as np
from sklearn import datasets
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import linregress

In [21]:
urban = "Data/urban.csv"
urban_df = pd.read_csv(urban)
urban_df = pd.DataFrame(urban_df)
urban_df.head()

            state  urbanindex
0         Alabama    9.605935
1          Alaska    8.735964
2  American Samoa   11.085930
3         Arizona   11.299710
4        Arkansas    9.259444

In [22]:
state_new  = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

#state_new = {state: abbrev for abbrev, state in state_new.items()}

urban_df['abbrev'] = urban_df.state.replace(state_new)
#urban_df.drop(['American Samoa','Guam', 'Northern Marianas', 'Virgin Islands'])
#urban_df[urban_df.state != 'American Samoa']

In [23]:
urban = urban_df[['abbrev', 'urbanindex']].copy()
urban = urban.rename(columns={'abbrev':'State','urbanindex':'Urban Index'})
urban.round(3)

                State  Urban Index
0                  AL        9.606
1                  AK        8.736
2                  AS       11.086
3                  AZ       11.300
4                  AR        9.259
5                  CA       12.190
6                  CO       11.154
7                  CT       11.410
8                  DE       11.010
9                  DC       13.441
10                 FL       11.465
11                 GA       10.552
12                 GU       11.086
13                 HI       11.086
14                 ID        9.594
15                 IL       11.624
16                 IN       10.410
17                 IA        9.594
18                 KS       10.120
19                 KY        9.790
20                 LA       10.175
21                 ME        9.037
22                 MD       11.711
23                 MA       11.840
24                 MI       10.806
25                 MN       10.457
26                 MS        8.911
27                 MO       10.202
28                 MT        8.470
29                 NE       10.199
30                 NV       11.770
31                 NH        9.917
32                 NJ       12.236
33                 NM        9.897
34                 NY       12.559
35                 NC       10.325
36                 ND        9.055
37  Northern Marianas       11.086
38                 OH       10.877
39                 OK        9.939
40                 OR       10.712
41                 PA       11.146
42                 PR       11.572
43                 RI       11.721
44                 SC       10.111
45                 SD        8.729
46                 TN       10.197
47                 TX       11.175
48                 UT       10.963
49                 VT        8.843
50                 VI       11.086
51                 VA       10.906
52                 WA       11.119
53                 WV        9.111
54                 WI       10.191
55                 WY        8.256

In [45]:
clean_urban = urban.drop(index = [2,37,50,12])

clean_urban.set_index(['State'])

       Urban Index
State
AL        9.605935
AK        8.735964
AZ       11.299710
AR        9.259444
CA       12.190280
CO       11.154450
CT       11.409680
DE       11.009990
DC       13.440570
FL       11.464840
GA       10.552330
HI       11.086210
ID        9.593634
IL       11.623720
IN       10.410500
IA        9.593525
KS       10.120440
KY        9.789536
LA       10.175180
ME        9.037091
MD       11.711050
MA       11.839730
MI       10.805590
MN       10.456840
MS        8.910859
MO       10.202120
MT        8.470226
NE       10.199120
NV       11.769720
NH        9.917139
NJ       12.235650
NM        9.896993
NY       12.558570
NC       10.324810
ND        9.054678
OH       10.876870
OK        9.939280
OR       10.712330
PA       11.146230
PR       11.571680
RI       11.721240
SC       10.111420
SD        8.728642
TN       10.197290
TX       11.174880
UT       10.962810
VT        8.843222
VA       10.906250
WA       11.119330
WV        9.111112
WI       10.191310
WY        8.256294

In [48]:
clean_urban['Urban Scale']= pd.qcut(clean_urban['Urban Index'],
                                    4, 
                                    labels=["Very Rural", "Rural", 
                                            "Urban", "Very Urban"])
clean_urban.round(3)

   State  Urban Index Urban Scale
0     AL        9.606  Very Rural
1     AK        8.736  Very Rural
3     AZ       11.300  Very Urban
4     AR        9.259  Very Rural
5     CA       12.190  Very Urban
6     CO       11.154       Urban
7     CT       11.410  Very Urban
8     DE       11.010       Urban
9     DC       13.441  Very Urban
10    FL       11.465  Very Urban
11    GA       10.552       Urban
13    HI       11.086       Urban
14    ID        9.594  Very Rural
15    IL       11.624  Very Urban
16    IN       10.410       Rural
17    IA        9.594  Very Rural
18    KS       10.120       Rural
19    KY        9.790       Rural
20    LA       10.175       Rural
21    ME        9.037  Very Rural
22    MD       11.711  Very Urban
23    MA       11.840  Very Urban
24    MI       10.806       Urban
25    MN       10.457       Urban
26    MS        8.911  Very Rural
27    MO       10.202       Rural
28    MT        8.470  Very Rural
29    NE       10.199       Rural
30    NV       11.770  Very Urban
31    NH        9.917       Rural
32    NJ       12.236  Very Urban
33    NM        9.897       Rural
34    NY       12.559  Very Urban
35    NC       10.325       Rural
36    ND        9.055  Very Rural
38    OH       10.877       Urban
39    OK        9.939       Rural
40    OR       10.712       Urban
41    PA       11.146       Urban
42    PR       11.572  Very Urban
43    RI       11.721  Very Urban
44    SC       10.111       Rural
45    SD        8.729  Very Rural
46    TN       10.197       Rural
47    TX       11.175       Urban
48    UT       10.963       Urban
49    VT        8.843  Very Rural
51    VA       10.906       Urban
52    WA       11.119       Urban
53    WV        9.111  Very Rural
54    WI       10.191       Rural
55    WY        8.256  Very Rural